/* ===================================================
component: bar-chart
=================================================== */

/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
[data-css="c-bar-chart"] {
}

/* ---------------------------------------------------
Context: Default
--------------------------------------------------- */
.c-bar-chart--default {

    .svg__bar-chart {
        rect {
            fill: #03ddef;
            stroke-width: 1px;
            stroke: black;
        }
    }

    .svg__bar-chart--runtime  {
        rect {
            fill: #03deff;
            stroke: red;
            stroke-width: 1px;

            &:hover {
                opacity: .3;
            }
        }

        .xaxis {
            .tick {
                text {
                    transform: rotate(-25deg) translate(-10px, 5px);
                }
            }
        }
    }

}