---
type: utility
contextData: "bar-chart-wrapper-bp"
layout: "lyt-docs"
publish: false
---


<div class="u-bar-chart-wrapper{{#if settings.barChartWrapperClasses}} {{settings.barChartWrapperClasses}}{{/if}}"
    data-js-module="bar-chart-wrapper"{{#if settings.barChartWrapperJsOptions}}
    data-js-options='{{stringify settings.barChartWrapperJsOptions}}'{{/if}}>
    <div data-js-item="chart"></div>
</div>
